.form {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  input,
  button {
    max-width: 25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
  }

  button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

}